blis==0.7.9
catalogue==2.0.8
certifi==2022.9.24
charset-normalizer==2.1.1
click==8.1.3
cmake==3.26.4
confection==0.0.3
coreferee==1.4.1
coreferee-model-en @ https://github.com/richardpaulhudson/coreferee/raw/master/models/coreferee_model_en.zip
cymem==2.0.7
emoji==2.2.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1-py3-none-any.whl
filelock==3.8.0
huggingface-hub==0.10.1
idna==3.4
Jinja2==3.1.2
joblib==1.3.1
langcodes==3.3.0
Levenshtein==0.21.1
lit==16.0.6
MarkupSafe==2.1.1
mpmath==1.3.0
murmurhash==1.0.9
networkx==3.1
nltk==3.8.1
numpy==1.23.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.1.0
packaging==21.3
pandas==1.5.0
pathy==0.8.1
Pillow==10.0.0
preshed==3.0.8
protobuf==4.21.9
pydantic==1.10.2
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.6
PyYAML==6.0
rapidfuzz==3.1.1
regex==2022.10.31
requests==2.28.1
scikit-learn==1.3.0
scipy==1.9.1
sentence-transformers==2.2.2
sentencepiece==0.1.99
six==1.16.0
smart-open==5.2.1
spacy==3.4.3
spacy-legacy==3.0.10
spacy-loggers==1.0.3
srsly==2.4.5
stanza==1.4.0
sympy==1.12
thinc==8.1.5
threadpoolctl==3.1.0
tokenizers==0.13.1
torch==1.13.0
torchvision==0.15.2
tqdm==4.64.1
transformers==4.24.0
triton==2.0.0
typer==0.7.0
typing_extensions==4.4.0
urllib3==1.26.12
wasabi==0.10.1
